body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000000;
    color: aliceblue;
}

h1 {
    color: #e7b202;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

input {
    margin-right: 10px;
}

.info {
    text-align: center;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    color: #e7b202;
    font-size: 36px;
}

.copy {
    text-align: center;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    color: #e7b202;
    font-size: 24px;
}